<footer class="footer">
 <div class="container">
  <section class="footer-section">
    <div class="footer-info">
        <img class="footer-logo" src="img/logo.svg" alt="Company Logo" />
        <p class="footer-text">We are the leading architect and interior design firm in the world.</p>
        <div class="footer-social">
            <a href="#"><img class="social-icon" src="img/facebook.svg" alt="Facebook"/></a>
            <a href="#"><img class="social-icon" src="img/twitter.svg" alt="Twitter" /></a>
            <a href="#"><img class="social-icon" src="img/linkedin.svg" alt="LinkedIn" /></a>
            <a href="#"><img class="social-icon" src="img/insta.svg" alt="Instagram" /></a>
        </div>
    </div>
    <div class="footer-links">
        <h2 class="footer-link-title">Pages</h2>
        <nav> 
          <ul class="footer-navigation">
            <li><a href="#" class="footer-link">Style Guide</a></li>
            <li><a href="#" class="footer-link">Protected</a></li>
            <li><a href="#" class="footer-link">Licenses</a></li>
            <li><a href="#" class="footer-link">Changelog</a></li>
            <li><a href="#" class="footer-link">404</a></li>
          </ul>
        </nav>
    </div>
    <div class="footer-links2">
        <h2 class="footer-link-title">Explore</h2>
        <nav> 
          <ul class="footer-navigation">
            <li><a href="#" class="footer-link">About Us</a></li>
            <li><a href="#" class="footer-link">Recent Blog</a></li>
            <li><a href="#" class="footer-link">Pricing Plan</a></li>
            <li><a href="#" class="footer-link">Our Projects</a></li>
            <li><a href="#" class="footer-link">Contact Us</a></li>
          </ul>
        </nav>
    </div>
    <div class="footer-contact">
        <h2 class="footer-link-title">Contact</h2>
        <p class="footer-address">53, East Birchwood Ave. Brooklyn, New York 11201, USA.</p>
        <a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=new" target="_blank" class="footer-email">contact@interno.com</a>
        <a href="tel:(123) 456 - 7890" target="_blank" class="footer-phone">(123) 456 - 7890</a>
    </div>
</section>
 </div>
  <section class="footer-bottom">
      <p class="footer-bottom-text">Copyright &copy; Interno | Designed by  <a class="footer-bottom-link">Victorflow</a> Templates - Powered by       <a class="footer-bottom-link">Webflow</a></p>
  </section>
</footer>
