<section class="recent-projects">
        <h1>Recent Projects</h1>
        <p>
            With tools to make every part of your process more human and a support team excited to help you, 
            getting started with us has never been easier.
        </p>
        <div class="projects-grid">
            <div class="project-card">
                <img src="/img/image6.1.png" alt="Winery Dry Creek Building">
                <div class="project-content">
                    <h3>Winery Dry Creek Building</h3>
                    <p>Art Modern</p>
                    <div class="project-button">
                        <img class="arrow" src="/img/arrow.svg" alt="Arrow">
                    </div>
                </div>
            </div>
            <div class="project-card">
                <img src="/img/image6.2.png" alt="Creative Workplace Design">
                <div class="project-content">
                <h3>Creative Workplace Design</h3>
                <p>Minimalist</p>
                <div class="project-button">
                    <img class="arrow" src="/img/arrow.svg" alt="Arrow">
                </div>
            </div>
        </div>
            <div class="project-card">
                <img src="/img/image6.3.png" alt="Bedroom Interior Past Work">
                <div class="project-content">
                <h3>Bedroom Interior Past Work</h3>
                <p>Modern</p>
                <div class="project-button">
                    <img class="arrow" src="/img/arrow.svg" alt="Arrow">
                </div>
            </div>   
        </div>
            <div class="project-card">
                <img src="/img/image6.4.png" alt="Soft Ambience Sepia Design">
                <div class="project-content">
                <h3>Soft Ambience Sepia Design</h3>
                <p>Scandinavian</p>
                <div class="project-button">
                    <img class="arrow" src="/img/arrow.svg" alt="Arrow">
                </div>
             </div>   
        </div>
        </div>
    </section>
