
    <section class="recent-blogs">
        <h2>Recent Blogs</h2>
        <p>Get updates about our latest trends and techniques used in interior design project works.</p>
        
        <div class="blog-grid">
            <div class="blog-card">
                <div class="category-label">Kitchen Design</div>
                <img src="../img/image8.1.png" alt="Kitchen Design" class="blog-image">
                <h3>Residential Interior Designer In New York, USA</h3>
                <div class="arrow-container">
                    <p>November 23, 2021</p>
                        <div class="project-button">
                            <img src="../img/arrow.svg" alt="Arrow Icon">
                        </div> 
                    </a>
                </div>
            </div>
            <div class="blog-card">
                <div class="category-label">Living Room</div>
                <img src="../img/image8.2.png" alt="Living Room" class="blog-image">
                <h3>How To Choose The Best Wall Art & Decor House?</h3>
                <div class="arrow-container">
                    <p>November 23, 2021</p>
                        <div class="project-button">
                            <img src="../img/arrow.svg" alt="Arrow Icon">
                        </div>   
                    </a>
                </div>
            </div>
            <div class="blog-card">
                <div class="category-label">Minimalist Interior</div>
                <img src="../img/image8.3.png" alt="Minimalist Interior" class="blog-image">
                <h3>Tips To Increase The Interior Value Of Your House</h3>
               <div class="arrow-container">
                    <p>November 23, 2021</p>
                    <div class="project-button">
                            <img src="../img/arrow.svg" alt="Arrow Icon">
                        </div> 
                       </a>
                </div>
            </div>
            <div class="blog-card">
                <div class="category-label">Kitchen Design</div>
                <img src="../img/image8.4.png" alt="Office Interior" class="blog-image">
                <h3>Best Solution For Any Office & Business Interior</h3>
               <div class="arrow-container">
                    <p>November 23, 2021</p>
                    <div class="project-button">
                            <img src="../img/arrow.svg" alt="Arrow Icon">
                        </div> 
                      </a>
                </div>
            </div>
            <div class="blog-card">
                <div class="category-label">Living Room</div>
                <img src="../img/image8.5.png" alt="Construction Work" class="blog-image">
                <h3>Get Solution For Building Construction Work</h3>
                <div class="arrow-container">
                <p>November 23, 2021</p>
                <div class="project-button">
                        <img src="../img/arrow.svg" alt="Arrow Icon">
                    </div> 
                    </a>
                </div>
            </div>
            <div class="blog-card">
                <div class="category-label">Minimalist Interior</div>
                <img src="../img/image8.6.png" alt="Kitchen Cabinets" class="blog-image">
                <h3>Attain The Best Finish For The Kitchen Cabinets</h3>
                <div class="arrow-container">
                    <p>November 23, 2021</p>
                    <div class="project-button">
                        <img src="../img/arrow.svg" alt="Arrow Icon">
                    </div> 
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>