<body>
    <div class="container">
        <div class="text-section">
            <h1>We Tackle The Most Challenging Designs</h1>
            <p>The world needs innovators and problem solvers who turn challenges into greater opportunities.
            We have an insatiable curiosity about transformative trends challenging the status.</p>
            <div class="contact">
                <span>
                    <img src="/img/phone.svg" alt="Phone Icon">
                    012345678 - Call Us Anytime
                </span>
            </div>
            <a href="#" class="button">
            Get Free Estimate
                <img src="/img/arrow-right.svg" alt="Arrow Icon">
            </a>
        </div>
        <div class="image-section">
            <img src="/img/image3.png" alt="Kitchen Design">
        </div>
    </div>
</body>