<section class="section_first">
    <div class="container">
        <h1 class="section_first-h1">
            Let's Create Your Dream Interior
        </h1>
        <p class="section_first-p">
            The world needs innovators and problem solvers who turn challenges into greater opportunities.
        </p>
        <button class="section_first-button">
                <p class="section_first-button-text">
                    Get Started
                </p>
                <img class="section_first-button-img" src="../img/arrow-right.svg" alt="">
        </button>
    </div>
</section>