<section class="container">
    <div class="section_second-container">
        <div class="section2_text-card">
            <h2 class=section_second-container-h2>
                Interior Design
            </h2>
            <p class="section_second-container-text">
                Enhancing the interior to achieve a healthier environment for the people using right space.
            </p>
            <a class="section_second-container-a" href="">
                <span class="span_second">View More</span>
                <img src="../img/arrow-right.svg" alt="">
            </a>
        </div>
        <div class="section2_text-card">
            <H2 class=section_second-container-h2>
                Furniture
            </H2>
            <P class="section_second-container-text">
                Movable articles that are used to make a room or building suitable for living or working.
            </P>
            <a class="section_second-container-a" href="#">
                <span class="span_second">View More</span>
                <img src="../img/arrow-right.svg" alt="">
            </a>
        </div>
        <div class="section2_text-card">
            <H2 class=section_second-container-h2>
                Flooring
            </H2>
            <P class="section_second-container-text">
                Thin object any finished material applied over a floor structure to provide a walking surface.
            </P>
            <a class="section_second-container-a" href="#">
                <span class="span_third">View More</span>
                <img src="../img/arrow-right.svg" alt="">
            </a>
        </div>
    </div>
</section>