<section class="container">
    <div class="card">
      <img src="../img/image8.1.png" alt="Kitchen Design">
      <div class="tag">Kitchen Design</div>
      <h3>Residential Interior Designer In New York, USA</h3>
      <p>November 23, 2021</p>
      <div class="arrow">
        <img src="../img/arrow.svg" alt="Arrow">
      </div>
    </div>
    <div class="card">
      <img src="../img/image8.2.png" alt="Living Room">
      <div class="tag">Living Room</div>
      <h3>How To Choose The Best Wall Art & Decor House?</h3>
      <p>November 23, 2021</p>
      <div class="arrow">
        <img src="../img/arrow.svg" alt="Arrow">
      </div>
    </div>
    <div class="card">
      <img src="../img/image8.3.png" alt="Minimalist Interior">
      <div class="tag">Minimalist Interior</div>
      <h3>Tips To Increase The Interior Value Of Your House</h3>
      <p>November 23, 2021</p>
      <div class="arrow">
        <img src="../img/arrow.svg" alt="Arrow">
      </div>
    </div>
    <div class="card">
      <img src="../img/image8.4.png" alt="Office Design">
      <div class="tag">Kitchen Design</div>
      <h3>Best Solution For Any Office & Business Interior</h3>
      <p>November 23, 2021</p>
      <div class="arrow">
        <img src="../img/arrow.svg" alt="Arrow">
      </div>
    </div>
    <div class="card">
      <img src="../img/image8.5.png" alt="Construction Work">
      <div class="tag">Living Room</div>
      <h3>Get Solution For Building Construction Work</h3>
      <p>November 23, 2021</p>
      <div class="arrow">
        <img src="../img/arrow.svg" alt="Arrow">
      </div>
    </div>
    <div class="card">
      <img src="../img/image8.6.png" alt="Kitchen Cabinets">
      <div class="tag">Minimalist Interior</div>
      <h3>Attain The Best Finish For The Kitchen Cabinets</h3>
      <p>November 23, 2021</p>
      <div class="arrow">
        <img src="../img/arrow.svg" alt="Arrow">
      </div>
    </div>
  </section>