<section class="section9-join">
    <div class="container">
        <div class="section9-join__inner">
            <div class="heading">
                <h2 class="section9-title">Wanna join the interno?</h2>
                <p class="section9-paragraph">Contact Us & Get a Free Consultation</p>
            </div>
            <button type="submit" class=" btn btn-primary">
                Connect With us
                <img src="./img/arrow-right-white.svg" alt="vectore" class="vectore-img" width="24" height="17">
            </button>
        </div>
    </div>
</section>