<body>
    <div class="testimonials-section">
      <h2>What the People Think About Interno</h2>
      <div class="testimonials-container">
        <div class="testimonial">
          <div class="testimonial-header">
          <img src="/img/person1.png" alt="Lisa Clairton">
            <div class="info">
              <div class="name">Lisa Clairton</div>
              <div class="location">New York, USA</div>
            </div>
          </div>
          <div class="text">We selected Interno interior because of rigorous design background & education.</div>
        </div>
        <div class="testimonial">
          <div class="testimonial-header">
            <img src="/img/person2.png" alt="David Knight">
            <div class="info">
              <div class="name">David Knight</div>
              <div class="location">Sydney, Australia</div>
            </div>
          </div>
          <div class="text">The team exceeded our expectations and emerged as leaders of our projects.</div>
        </div>
        <div class="testimonial">
          <div class="testimonial-header">
            <img src="/img/person3.png" alt="Lisa Clairton">
            <div class="info">
              <div class="name">Lisa Clairton</div>
              <div class="location">Paris, France</div>
            </div>
          </div>
          <div class="text">They balanced the architectural vision and the project realities beautifully.</div>
        </div>
      </div>
    </div>
  </body>